name: Update GitHub Metrics

on:
  schedule:
    - cron: '0 1 * * *'  # 1 AM UTC daily
  workflow_dispatch:

jobs:
  update-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUBTOKEN }}
          
      - name: Update metrics
        run: |
          # Get GitHub stats
          COMMITS=$(gh api graphql -f query='
            query($owner: String!, $name: String!) {
              repository(owner: $owner, name: $name) {
                defaultBranchRef {
                  target {
                    ... on Commit {
                      history {
                        totalCount
                      }
                    }
                  }
                }
              }
            }' -f owner=${{ github.repository_owner }} -f name=${{ github.event.repository.name }} --jq '.data.repository.defaultBranchRef.target.history.totalCount')
          
          PRS_REVIEWED=$(gh api /search/issues?q=type:pr+reviewed-by:${{ github.repository_owner }} --jq '.total_count')
          PRS_OPENED=$(gh api /search/issues?q=type:pr+author:${{ github.repository_owner }} --jq '.total_count')
          ISSUES_OPENED=$(gh api /search/issues?q=type:issue+author:${{ github.repository_owner }} --jq '.total_count')
          
          USER_DATA=$(gh api /user)
          FOLLOWERS=$(echo "$USER_DATA" | jq '.followers')
          FOLLOWING=$(echo "$USER_DATA" | jq '.following')
          PUBLIC_REPOS=$(echo "$USER_DATA" | jq '.public_repos')
          
          STARRED=$(gh api /user/starred --paginate | jq '. | length')
          
          # Update README.md
          sed -i "s/<b>[0-9]*<\/b> commits/<b>$COMMITS<\/b> commits/" README.md
          sed -i "s/<b> *[0-9]*<\/b> pull requests reviewed/<b> $PRS_REVIEWED<\/b> pull requests reviewed/" README.md
          sed -i "s/<b> *[0-9]*<\/b> pull requests opened/<b> $PRS_OPENED<\/b> pull requests opened/" README.md
          sed -i "s/<b> *[0-9]*<\/b> issues opened/<b> $ISSUES_OPENED<\/b> issues opened/" README.md
          sed -i "s/<b> *[0-9]*<\/b> users followed/<b> $FOLLOWING<\/b> users followed/" README.md
          sed -i "s/<b> *[0-9]*<\/b> repositories starred/<b> $STARRED<\/b> repositories starred/" README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
          
      - name: Commit changes
        run: |
          git config --local user.email "khraiteka@gmail.com"
          git config --local user.name "GitHub Action"
          git add README.md
          git diff --staged --quiet || git commit -m "Update GitHub metrics"
          git push
